Source: bpkg
Package: bpkg
Section: devel
Priority: optional
Architecture: amd64
Build-Depends: c-compiler | gcc, make
Depends: libc6, make, xz-utils, libdpkg-perl, libdpkg-parse-perl
Essential: no
Maintainer: Benedict Harcourt <packages@tea-cats.co.uk>
Description: Simple Debian Binary-Package Handling toolchain
